{{> header}}



    {{> navbar}}

<h1>{{nombre}}</h1>
<h2>Direccion: {{direccion}}</h2>
<h3>Latitud: {{latitud}}</h3>
<h4>Longitud: {{longitud}}</h4>
<h5>La temperatura es de {{temperatura}}°C, oscilando entre {{tempMin}}°C y {{tempMax}}°C</h5>



{{> footer }}

