{{> header}}



    {{> navbar}}

<h1>{{nombre}}</h1>
<h2>Direccion: {{direccion}}</h2>
<h12Latitud: {{latitud}}</h2>
<h2>Longitud: {{longitud}}</h2>
<h2>La temperatura es de {{temperatura}}°C, oscilando entre {{tempMin}}°C y {{tempMax}}°C</h2>



{{> footer }}

